:root {
  --azulazul: rgba(46, 110, 194, 1);
  --azulazul-fondo: rgba(191, 228, 255, 0.4);
  --colecci-n-variable-azul-fondo: rgba(120, 169, 235, 1);
  --colecci-n-variable-azul-principal: rgba(47, 128, 237, 1);
  --colecci-n-variable-color: var(--colecci-n-variable-azul-fondo);
  --colecci-n-variable-color-2: var(--colecci-n-variable-color);
  --color-grey-3: rgba(130, 130, 130, 1);
  --color-primary: rgba(9, 44, 76, 1);
  --dropshadow: 0px 4px 24px 0px rgba(9, 44, 76, 0.4);
  --fuschia-100: rgba(239, 93, 168, 1);
  --fuschia-60: rgba(252, 221, 236, 1);
  --fuschia-80: rgba(241, 120, 182, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --iris-100: rgba(93, 95, 239, 1);
  --iris-60: rgba(165, 166, 246, 1);
  --iris-80: rgba(120, 121, 241, 1);
  --negroblanco: rgba(255, 255, 255, 1);
  --negrogris: rgba(73, 73, 73, 1);
  --negronegro: rgba(0, 0, 0, 1);
  --negronegro-fondo: rgba(40, 40, 40, 1);
  --text-normal-bold-font-family: "Inter", Helvetica;
  --text-normal-bold-font-size: 16px;
  --text-normal-bold-font-style: normal;
  --text-normal-bold-font-weight: 700;
  --text-normal-bold-letter-spacing: 0px;
  --text-normal-bold-line-height: 22.4px;
  --text-normal-font-family: "Inter", Helvetica;
  --text-normal-font-size: 16px;
  --text-normal-font-style: normal;
  --text-normal-font-weight: 400;
  --text-normal-letter-spacing: 0px;
  --text-normal-line-height: 22.4px;
  --texto-en-negrita-font-family: "Manrope", Helvetica;
  --texto-en-negrita-font-size: 24px;
  --texto-en-negrita-font-style: normal;
  --texto-en-negrita-font-weight: 800;
  --texto-en-negrita-letter-spacing: 0px;
  --texto-en-negrita-line-height: 30px;
  --texto-font-family: "Manrope", Helvetica;
  --texto-font-size: 24px;
  --texto-font-style: normal;
  --texto-font-weight: 400;
  --texto-letter-spacing: 0px;
  --texto-line-height: 30px;
  --texto-peque-o-font-family: "Manrope", Helvetica;
  --texto-peque-o-font-size: 18px;
  --texto-peque-o-font-style: normal;
  --texto-peque-o-font-weight: 400;
  --texto-peque-o-letter-spacing: 0px;
  --texto-peque-o-line-height: 26.4px;
  --titulo-1-font-family: "Manrope", Helvetica;
  --titulo-1-font-size: 50px;
  --titulo-1-font-style: normal;
  --titulo-1-font-weight: 700;
  --titulo-1-letter-spacing: 0px;
  --titulo-1-line-height: 61.6px;
  --titulo-2-font-family: "Manrope", Helvetica;
  --titulo-2-font-size: 40px;
  --titulo-2-font-style: normal;
  --titulo-2-font-weight: 600;
  --titulo-2-letter-spacing: 0px;
  --titulo-2-line-height: 50px;
}